beautifulsoup4
charset_normalizer
datasets
dolma
google-cloud-storage
internetarchive
logging_json
markdown-it-py
pandas
patool
pre-commit
pyunpack
rdflib
requests>=2.13
smart_open
streamlit
tenacity
tqdm
ultimate-sitemap-parser
contextual-logger>=0.0.2
